node_modules
.pnpm-store
npm-debug.log
yarn-error.log
*.log
windows/SISDROG/AppPackages
windows/SISDROG/bin
windows/SISDROG/obj
windows/SISDROG/x64
windows/SISDROG/x86
windows/SISDROG/ARM
windows/SISDROG/ARM64
*.zip
*.pfx
.DS_Store
.git
.gitignore
README.md
