fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

python-dotenv

pydantic
pydantic-settings
email-validator

passlib[bcrypt]

python-jose[cryptography]
python-multipart 

passlib[bcrypt]==1.7.4
bcrypt==3.2.2